page-exercise3 {
  
  .temoignage {
    border-bottom: 1px solid;
  }

  ion-input {
    width: 40%;
    background-color: white;
  }

  .searchbar-search-icon {
    display: none;
    width: 0;
    height: 0;
  }


  .searchbar-md .searchbar-input {
    padding: 0%;
    box-shadow: none;
    border: 1px solid #bbbbbb;
    font-style: italic;
  }

}
